@font-face {
  font-family:'primeraFila' ;
  src: url('Gikany-Regular.ttf');
}
body {
  font-family: Georgia, serif;
  /* Fuente elegante y clásica */
  margin: 0;
  padding: 0;
}
nav h1{
  font-family: 'primeraFila';
}
nav p{
  font-family: 'primeraFila';
  font-size: 35px;
}

header {
  width: 100%;
  display: flex;
  height: 150px;
  padding-bottom: 1%;
  background: linear-gradient(to bottom, #D3A97B, #fff);

}

.logo {
  width: 78%;
  display: flex;
  align-items: center;
  padding-left: 3%;
}

.logo img {
  width: 15%;
  height: 150px;

}

.info {
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1%;

}

.info button {
  width: 60%;
  height: 60px;
  background-color: #fff;
  border: 2px solid #503B0A; /* Añade un borde */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); /* Sombreado */
  transition: box-shadow 0.3s ease; /* Transición suave */
  background: linear-gradient(to bottom, #e6ccb1, #fff);
}

.info button:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* Cambia el sombreado al pasar el cursor */
}
.info a {
  text-decoration: none;
  color: #503B0A;

}


nav {
  width: 100%;
  text-align: center;

}

nav button {
  width: 15%;
  height: 50px;
  background-color: #fff;
  border: 2px solid #503B0A; /* Añade un borde */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); /* Sombreado */
  transition: box-shadow 0.3s ease; /* Transición suave */
}

nav button:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* Cambia el sombreado al pasar el cursor */
}

nav a {
  text-decoration: none;
  color: #503B0A;
}

nav h1 {
  color: #503B0A;
  font-size: 3em;
  margin-top: -20px;
}

nav h3 {
  font-size: 2em;
}

.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(300px + 3em);
}

.slide-open:checked+.slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.slide-control.prev {
  left: 2%;
}

.slide-control.next {
  right: 2%;
}

.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3 {
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}

.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.slide-circulo:hover {
  color: #aaaaaa;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
  color: #428bca;
}

#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

/* Pie de página */
footer {
  margin-top: 5%;
  background-color: #D3A97B;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h3 {
  color: #fff;
}

.social-icons {
  font-size: 24px;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.footer-content a {
  text-decoration: none;
  color: white;
}


/** VERSIÓN MOVIL*/
@media (max-width:767px){
.logo {
 width: 90%; 
}
.logo img {
  width: 40%;
  height: 150px;
}
nav p{
  font-family: 'primeraFila';
  font-size: 20px;
}
.info{
  width: 30%;

}
.info button {
  width:50%;
  height: 30px;
  display: none;
}
.teAyudamos button {
  width: 40%;
}
.footer-content p{
  display:none;
  font-size: 10px;
}
.footer-content h3{
  font-size: 90%;
}
.social-icons{
  font-size: 20px;
}
.footer-section a{
  font-size: 10px;
}
nav p{
  font-size: 25px;
}

}

