
        /* Eliminar los márgenes por defecto de la barra de navegación y ajustar el padding */
        .navbar {
            margin-bottom: 0;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }


        .navbar-brand img {
            max-height: 150px;
            /* Ajusta el tamaño del logo según sea necesario */
        }
        .social-icons{
            font-size: 20px;
        }

        /* Ajustes para el espacio superior del header */
        header {
            padding: 0.5rem 0;
            /* Reducir el espacio vertical en el header */
        }

        /* Ajustes para la alineación de los elementos de la barra de navegación */
        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .navbar-nav .nav-item {
            flex: 1;
            text-align: center;
        }
